body{
    background-color: #c2eeec;
    display: flex;
    text-align: center;
}


.navbar-brand:hover{
    animation-name: anim_menu;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes anim_menu{
    from{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    to{
        transform: scale(1, 1);
    }
}


.nav-link:hover{
    animation-name: anim_button;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes anim_button{
    from{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    to{
        transform: scale(1, 1);
    }
}
